html, body {
    height: 90%;
}

html {
    display: table;
    margin: auto;
}

body{
    padding-left: 80px;
    padding-right: 80px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: Verdana, sans-serif;
}
   
#grad {
    background-image: linear-gradient(rgb(250, 221, 221), rgb(255, 255, 178), rgb(214, 254, 214));
}

.center {
    margin-left: auto;
    margin-right: auto;
}

table, td, th {
    border: 3px solid rgb(25, 119, 182);
    border-collapse: collapse;
}
     
th{
    height: 50px;
    text-align: center;
    background-color: rgb(25, 119, 182);
}

td{
    height: 40px;
}

#table1 {
    width:100%;
    height: 200px;
    transition: height 0.2s;
    transition-timing-function: ease-in-out;
    box-shadow: 8px 8px 1px;
    /*box-shadow: 20px 20px 8px rgb(216, 241, 249);*/
}

#table1:hover{
    height: 310px;
}

tr:hover {background-color: rgb(127, 202, 252);}

@keyframes prueba {
    from {color: rgb(224, 223, 255);}
    to {color: rgb(0, 0, 0);}
}

h1{
    color:rgb(245, 237, 237);
    font-family: Verdana, sans-serif;
    font-style: oblique;
    animation-name: prueba;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

#table2{
    width:100%;
    height: 100px;
    box-shadow: 8px 8px 1px;
    /*box-shadow: 20px 20px 8px rgb(216, 241, 249);*/
    transition: height 0.2s;
    transition-timing-function: ease-in-out;
}

#table2:hover{
    height: 160px;
}

footer{
    font-style: italic;
    font-weight: bold;
}

#return{
    padding: 5px;
    font-size: 20px;
    background-color: rgb(25, 119, 182);
    color: black;
    border: 2px solid #000000;
    transition-duration: 0.4s;
    border-radius: 4px;
}
  
#return:hover {
    background-color: rgb(20, 71, 106);
    color: white;
}

#volver{
    position: fixed;
    left: 100px;
}

#ejemplosFlex{
    border:solid rgb(0, 0, 0);
    box-shadow: 8px 8px 1px;
}

#flexbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 6rem;
    min-width: 6rem;
}

#flexbox div{
    border-radius: 5%;
    height: 5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px rgb(25, 119, 182);
    padding-left: 1rem;
    padding-right: 1rem;
}

#flexbox-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 6rem;
    min-width: 6rem;
}

#flexbox-2 div{
    border-radius: 5%;
    height: 5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px rgb(25, 119, 182);
    padding-left: 1rem;
    padding-right: 1rem;
}

#flexbox-3{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 6rem;
    min-width: 6rem;
}

#flexbox-3 div{
    border-radius: 5%;
    height: 5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
