html, body {
    height: 90%;
}

html {
    display: table;
    margin: auto;
}

body{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: Verdana, sans-serif;
}
   
#grad {
    background-image: linear-gradient(rgb(250, 221, 221), rgb(255, 255, 178), rgb(214, 254, 214));
}

.center {
    margin-left: auto;
    margin-right: auto;
}

table, td, th {
    border: 3px solid;
    border-collapse: collapse;
}
     
th{
    height: 50px;
    text-align: center;
    background-color: rgb(25, 119, 182);
}

td{
    height: 40px;
}

#table1 {
    width:100%;
    transition: height 5s;
    box-shadow: 20px 20px 5px lightblue;
}

#table1:hover{
    height: 900px;
}

tr:hover {background-color: rgb(127, 202, 252);}

@keyframes prueba {
    from {color: rgb(224, 223, 255);}
    to {color: rgb(0, 0, 0);}
}

h1{
    color:rgb(9, 8, 8);
    font-family: Verdana, sans-serif;
    font-style: oblique;
    animation-name: prueba;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

#table2{
    width:100%;
    box-shadow: 20px 20px 5px lightblue;
    transition: height 5s;
}

#table2:hover{
    height: 170px;
}

footer{
    font-style: italic;
    font-weight: bold;
}