html, body {
    height: 90%;
}

html {
    display: table;
    margin: auto;
}

body{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: Verdana, sans-serif;
}

h1{
    color: white;
    border: 2px;
    text-shadow: 3px 3px 2px black;
}

#principal{
    padding: 85px;
    background-color:  rgb(25, 119, 182);
    text-align: center;
    box-shadow: 8px 8px 1px;
}

#btnHTML{
    font-size: 20px;
    background-color: white;
    color: black;
    border: 2px solid #ffffff;
    transition-duration: 0.4s;
    border-radius: 4px;
}
  
#btnHTML:hover {
    background-color: rgb(20, 71, 106);
    color: white;
}

#btnCSS{
    font-size: 20px;
    background-color: white;
    color: black;
    border: 2px solid #ffffff;
    transition-duration: 0.4s;
    border-radius: 4px;
}
  
#btnCSS:hover {
    background-color: rgb(20, 71, 106);
    color: white;
}

